#index-head {
    text-align: center;
    text-shadow: 2px 2px black;
    color: white;
    margin: 7%;
}

body{
    background-image:url("assets/veggiesforapp.jpg");
    /* color:white; */
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Bitter', serif;    
}

label{
    font-size: 22px;
    color: white;
}

h4{
    margin-top: 10%;
    font-size: 28px;
    color: white;
    font-style: italic;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 60vh;
    position: absolute;
}

.container{
    width: 50vw;
}

.search-div {
    display: grid;
    width: 50vw;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
}

@media(max-width:900px){
    .search-div{
        grid-template-columns: 1fr;
    }
}

.title {
    text-align: center;
    text-shadow: 1px 1px black;
    color: white;
    margin-bottom: 5%;
}

.card {
    color: black;
}

.search-div .card{
    margin: 10%;
}

.profile {
    background: rgba(0, 0, 0, 0.4);
    padding: 2% ;
}

.profile .card{
    margin-bottom: 40px;
}

.signup {
    background: rgba(0, 0, 0, 0.4);
    padding: 2%;
}

.signup .helptext,li {
    color: white;
}

.signup-text {
    margin: 25px 0;
    color: white;
}