#index-head {
    text-align: center;
    text-shadow: 1px 1px black;
    color: white;
    margin-top: 5%
}

footer {
    text-align: center;
    margin-top: 60vh;
    position: absolute;
}

.search-div {
    display: grid;
    width: 50vw;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    color: black !important;
    background: rgba(0, 0, 0, 0.26);
}

@media(max-width:900px){
    .search-div{
        grid-template-columns: 1fr;
    }
}

.search-title {
    text-align: center;
    text-shadow: 1px 1px black;
    color: white;

}
.search-box{
    margin-top: 20%;
    
    text-align:center;
}

body{
    /* background:blue; */
    background-image:url("assets/veggiesforapp.jpg");
    /* color:white; */
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Bitter', serif;
    
}
.search-div .card{
    margin: 10%;
}

.container{
    width: 50vw;
    color: black !important;
}

label{
    font-size: 25px
}
h5{
    margin-top: 10%;
    font-size: 28px;
    /* color: white; */
    font-style: italic
}
.search-button{
    justify-content: center;
    align-items: center;
    margin-left: ;
}