{% extends 'base.html' %}
{% load static %}
    
{% block content %}

  <div class="container"> 

    <form action="/search/" method="POST">
    {% csrf_token %}
    
      <div class="form-row text-center">
        <div class="col-4">
          <label for="category">Categories</label>
        </div>
        <div class="col-4">
          <select name="category"class="form-control" id="category">
            <option>grains</option>
            <option>vegetables</option>
            <option>fruits</option>
            <option>dairy</option>
            <option>meat</option>
          </select>
        </div>
        <div class="col-4">
          <input type="submit" class="btn btn-primary">
        </div>
      </div>
    </form>

    <h4>
      There is an excess amount of food waste happening directly at the source of the farm. Our goal is to give farms an easy way to post their information for the amount of food that will go to waste, so local food banks can find it and schedule a pickup. 
    </h4>

  </div>

{% endblock %}
    
       
    
