{% extends 'base.html' %}
{% load static %}

    
    {% block content %}
    <div class="container">
    <form class="search-box">
       <label for="search-input"></label>
    <input value="">

    <a href="/search" class="btn btn-primary">Search</a>

    <h5>There is an excess amount of food waste happening directly at the source of the farm. Our goal is to give farms an easy way to post their data for the amount of food they will be wasting, so local food banks can receive this information and schedule a pickup. We are also expanding the donor capabilities to retail restaurants as well. The beauty of this will be the fact that this will be a standalone application & not require any actual API’s

    </h5>
  </form>

  </div>
        {% endblock %}
    
       
    
