{% extends 'base.html' %} {% load static %} {% block content %} 
{% if user.is_authenticated %}
<div class='text-center'>
<a href="/post/create" style="font-size: larger;">Let's make a post!</a>
</div>
{% endif %}
<h3 class="title">___________________________</h3>
<h3 class="title">{{ username }}'s Posts:</h3>
<div class="container text-center" style="width: 50%;">
  {% for post in posts %}
  <div class="card">
    <div class="card-header">{{ post.itemName }}</div>
    <div class="card-body">
      <p class="card-text" style="font-size: larger;">{{ post.category }}</p>
      <p class="card-text" style="font-size: larger;">{{ post.weightQuantity }}</p>
      <p class="card-text" style="font-size: larger;">{{ post.description }}</p>
      <form>
        <input type="hidden" value="" />
        <button href="#" class="btn btn-primary">delete</button>
      </form>
      </div>
  </div>
  <br>
{% endfor %}
  {% endblock %}
</div>
