{% extends 'base.html' %} {% load static %} {% block content %}
<h3 class="title">Search Results</h3>
<div class="search-div container text-center">
 <!-- For loop would go here to print each search item  -->
  <div class="card">
    <div class="card-body">
        <!-- The title is the name of the Farm -->
      <h5 class="card-title">Farmer Boys(Montgomery, AL)</h5> 
      <p class="card-text">
        We currently have 200 lbs of corn that will 
        end up going to waste. Please reach out via email 
        if they would be of use!
      </p>
      <span>Email: farmer@boys.com</span>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Shirehill Farms(Atlanta, GA)</h5>
      <p class="card-text">
        50 pounds of wheat and 20 pounds of oranges. 
        Will only last maybe another week. Please reach 
        out ASAP if these could be of use.
      </p>
      <span>Email: shire@hill.com</span>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Byron's Barn(Fort Lee, NJ)</h5>
      <p class="card-text">
        Byron's barn has the freshest beef in town. That being said, 
        we have an excess of roughly 40 lbs of raw beef cuts up for grabs. 
        Reach out via phone please.
      </p>
      <span>Phone: (375)-946-5238</span>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Amy and Angie's Apple Orchard(Seattle, WA)</h5>
      <p class="card-text">
        Apple season was bountiful this year! We have 
        40 lbs of apples that didn't make the "beauty cut", 
        but taste just as sweet! We would love for them to go to someone in need.
      </p>
      <span>Email: amyandangie@apples.com</span>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Georgia's Grape Vineyard(Temecula, CA)</h5>
      <p class="card-text">
        Buyer backed out last minute on 20 lbs of fresh grapes. 
        We would like to donate them on a first come, first serve basis.
      </p>
      <span>Phone: (949)-555-4537</span>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">The Family Farm (Ojai, CA)</h5>
      <p class="card-text">
        We have a variety of veggies that will go to waste in roughly one week. 
        Please reach out as soon as possible to make use of them. We have carrots, celery and broccoli available.
        Email for more info!
      </p>
      <span>Email: farmingfam@gmail.com</span>
    </div>
  </div>
</div>

{% endblock %}
