{% extends 'base.html' %} {% load static %} {% block content %}
<h3 class="search-title">You Searched Posts</h3>
<div class="search-div container text-center">
 <!-- For loop would go here to print each search item  -->
  <div class="card">
    <div class="card-body">
        <!-- The title is the name of the Farm -->
      <h5 class="card-title">Farmer Boys</h5> 
      <p class="card-text">
        We currently have 200 lbs of corn that will end up going to waste. Please reach out via email if they would be of use!
      </p>
      <span>Email: farmer@boys.com</span>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
</div>

{% endblock %}
